<%- include('../_header.ejs') %> 
<%- include('../_navbar.ejs') %> 
<%- include('../_sidebar.ejs') %> 

<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Tag</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="/dashboard">Home</a></li>
            <li class="breadcrumb-item active">Tag</li>
          </ol>
        </div>
      </div>
    </div>
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">
                <a href="/tag/create" class="btn btn-primary">
                  <i class="nav-icon far fa-plus-square"></i>
                  Add
                </a>
              </h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <%- include('table.ejs') %> 
            </div>
            <!-- /.card-body -->
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- /.content -->
</div>

<%- include('../_footer.ejs') %> 
<%- include('../_script.ejs') %> 